.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    max-width: 400px;
    width: 100%;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .three-dot-container {
    position: relative;
  }
  
  .action-popup {
    display: none;
    position: absolute;
    top: 20px;
    right: 0;
    background: white;
    border: 1px solid #ccc;
  }
  
  .three-dot-container:hover .action-popup {
    display: block;
  }
  .batchDetailTable tbody tr{
    border-width: 1px !important;
  }
  .batchDetailTable tbody tr td{
    padding: 5px;
  }
  .deleteBtnGroup{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  





  /* ==================================== */
  /* Overlay background */


/* Popup box */


/* Close button */




/* OTP Method Selection */
.otp-method {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin: 15px 0;
}

.otp-method label {
  font-size: 16px;
  cursor: pointer;
}

.otp-method input {
  margin-right: 5px;
}

/* Send OTP Button */
.send-otp-btn {
  background: #016c81;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.send-otp-btn:disabled {
  background: gray;
  cursor: not-allowed;
}

.send-otp-btn:hover:not(:disabled) {
  background: #014e5d;
}

/* OTP Sent Message */
.otpSentMessage p {
  font-size: 14px;
  color: green;
  margin-bottom: 10px;
}

/* OTP Input */
.otp-input {
  margin-top: 15px;
}

.otp-input input {
  width: 80%;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Submit Button */
.verify-otp-btn {
  background: #f9bf29;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.verify-otp-btn:disabled {
  background: gray;
  cursor: not-allowed;
}

.verify-otp-btn:hover:not(:disabled) {
  background: #d9a619;
}
