.btnGroup{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}
.button{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    background-color: #02020217 !important;
    width: 150px;
    min-width: 150px;
    margin: 10px;
}
.button:hover{
    background-color: #fff !important;
}
.button.active{
    background-color: #fff !important;
}
.button >p{
    margin: 0;
}