.mainSection{
    border: 2px solid #fff;
    display: flex;
    flex: 1 1 auto;
    height: calc(100% - 75px);
}
.leftBox{
    width: 20vw;
    background-color: #2166D1;
    border-radius: 10px 0px 0px 10px;
    transition: width 0.3s ease;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 15px;
}
.rightBox{
    width: 80vw;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.leftBox ul{
    padding-left: 0 !important;
    margin-top: 60px !important;
}
.leftBox ul li{
    position: relative;
    list-style: none;
    padding: 5px 0px;
    padding-left: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #fff;
}
.leftBox ul li > p{
    margin: 0;
    padding-left: 10px;
}
.leftBox ul li:hover{
    background-color: #fff;
    border-radius: 20px 0px 0px 20px;
    margin-left: 5px;
    color: #000;
}
.leftBox ul li:hover::before{
    content: '';
    position: absolute;
    top: -35px;
    right: 0; /* Adjust this value to control the amount of curve */
    height: 35px; /* Height of the list item */
    width: 35px; /* Width of the curve effect */
    background-color: #2166D1; /* Color of the curve effect */
    border-radius: 150px 0px 80px 0px;
    box-shadow: 10px 10px 5px -2px #fff;
}
.leftBox ul li:hover::after{
    content: '';
    position: absolute;
    bottom: -35px;
    right: 0;
    height: 35px;
    width: 35px;
    background-color: #2166D1;
    border-radius: 0px 80px 0px 150px;
    box-shadow: 10px -10px 5px -2px #fff;
}
.leftBox ul li.active{
    background-color: #fff;
    border-radius: 20px 0px 0px 20px;
    margin-left: 5px;
    color: #000;
}
.leftBox ul li.active::before{
    content: '';
    position: absolute;
    top: -35px;
    right: 0; /* Adjust this value to control the amount of curve */
    height: 35px; /* Height of the list item */
    width: 35px; /* Width of the curve effect */
    background-color: #2166D1; /* Color of the curve effect */
    border-radius: 150px 0px 80px 0px;
    box-shadow: 10px 10px 5px -2px #fff;
}
.leftBox ul li.active::after{
    content: '';
    position: absolute;
    bottom: -35px;
    right: 0;
    height: 35px;
    width: 35px;
    background-color: #2166D1;
    border-radius: 0px 80px 0px 150px;
    box-shadow: 10px -10px 5px -2px #fff;
}
.icon{
    width: 32px;
}
.userIcon{
    width: 30px;
    padding: 5px 0px;
}
.arrowIcon{
    width: 28px;
}

/* all right code */
.firstRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 5px -2px #000;
}
.right > img{
    border-radius: 20%;
}
.middle > h1{
    font-size: 25px;
    margin: 0;
    text-align: center;
}
.mainDiv{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}


 .thin {
    width: 10vw; /* Adjust the width as needed */
  }
  .fat{
    width: 90vw;
  }
  
.thin > ul > li > p {
    display: none;
}

/* .leftBox .list img {
    width: 100%; 
} */
  

@media screen and (max-width: 600px) {
    .mainSection{
        position: relative;
        width: 100vw;
    }
    .leftBox{
        width: 50vw;
    }
    .thin{
        width: 15vw;
    }
    .rightBox{
        min-width: 50vw;
        /* overflow: auto; */
    }
    .thin > ul > li{
        padding-left: 5px;
    }
    .arrowIcon{
        width: 15px;
    }
    .middle > h1 {
        font-size: 16px;
    }
    .userIcon {
        width: 25px;
        padding: 5px 0px;
    }
    .fat > .mainDiv > .btnGroup{
        margin: 0;
        margin-top: 5px;
    }
    .fat > .mainDiv > .btnGroup > .button{
        padding: 5px;
        margin: 5px 5px;
        width: 120px;
        min-width: 120px;
    }
}