.LoginSignUpContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.LoginSignUpBox {
  background-color: #fff;
  width: 500px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.login_signUp_toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.login_signUp_toggle p {
  width: 50%;
  text-align: center;
  font-size: 18px;
  padding: 10px 0;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}

.login_signUp_toggle p:hover {
  color: #016c81;
}

.loginForm,
.signUpForm {
  display: none;
}

.shiftToRight {
  transform: translateX(100%);
}

.shiftToNeutral {
  transform: translateX(0%);
}

button {
  display: none;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.loginBtn,
.signUpBtn {
  width: 100%;
  padding: 10px;
  background-color: #016c81;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.loginBtn:hover,
.signUpBtn:hover {
  background-color: #014e60;
}

.error-message {
  color: red;
  margin-bottom: 15px;
}
.login_signUp_toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.login_signUp_toggle p {
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

.login_signUp_toggle .active {
  background-color: #016c81; /* Change this to your desired active background color */
  color: #fff !important; /* Change text color if needed */
  border-radius: 5px; /* Optional: add some rounding to the corners */
}
