.updatePasswordContainer {
    flex: 1 1 auto;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background: linear-gradient(135deg, #016c81, #04a89b);
    padding: 20px;
  }
  
  .updatePasswordBox {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .updatePasswordHeading {
    text-align: center;
    color: #016c81;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .updatePasswordForm {
    display: flex;
    flex-direction: column;
  }
  
  .inputGroup {
    margin-bottom: 20px;
  }
  
  .inputGroup label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
  }
  
  .passwordWrapper {
    position: relative;
  }
  
  .passwordWrapper input {
    width: 100%;
    padding: 12px 40px 12px 12px; /* Padding for the eye icon */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  
  .passwordWrapper input:focus {
    outline: none;
    border-color: #04a89b;
    box-shadow: 0 0 5px rgba(4, 168, 155, 0.3);
  }
  
  .eyeIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #777;
  }
  
  .eyeIcon:hover {
    color: #04a89b;
  }
  
  .updatePasswordBtn {
    padding: 12px;
    background-color: #04a89b;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .updatePasswordBtn:hover {
    background-color: #016c81;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .updatePasswordBox {
      padding: 30px;
    }
  
    .updatePasswordHeading {
      font-size: 20px;
    }
  
    .updatePasswordBtn {
      font-size: 16px;
    }
  }
  